version: "3.9"

services:
  mysql-service:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: weapons_db
    ports:
      - "3307:3306"        
    volumes:
      - db_data:/var/lib/mysql

  app:
    build:
      context: .
      dockerfile: dockerfile
    environment:
      DB_HOST: mysql-service  
      DB_PORT: "3306"         
      DB_USER: root
      DB_PASSWORD: password
      DB_NAME: weapons_db
    depends_on:
      - mysql-service
    ports:
      - "8000:8000"

volumes:
  db_data: