services:
  app:
    build: 
      context: .            
    ports:
      - "8000:8000"          
    volumes:
      - .:/code            
    depends_on:
      db:

  db:
    image: mysql:latest
    environment:
      DB_HOST": "mysql-service"
      DB_PORT: "3307"
      DB_USER: "root"
      DB_PASSWORD: "password"
      DB_NAME: "weapons_db"
    ports:
      - "3307:3307"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:             
